body {
  background-color: #1a1a1a;
  color: #f2f2f2;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  padding-top: 100px;
}

h1 {
  color: #ffb703;
  font-size: 2rem;
  margin-bottom: 10px;
}

p {
  color: #bfbfbf;
  font-size: 1.1rem;
}
