body {
  background-color: #0f0f1a;
  color: #f0f0f0;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  padding-top: 100px;
}

h1 {
  color: #ffb703;
  font-size: 2rem;
  margin-bottom: 10px;
}

p {
  color: #b3b3b3;
  font-size: 1.1rem;
}
