body {
  background-color: #121212;
  color: #f1f1f1;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  padding-top: 100px;
}

h1 {
  color: #00ffb3;
  font-size: 2rem;
  margin-bottom: 10px;
}

p {
  color: #b3b3b3;
  font-size: 1.1rem;
}
