body {
  background-color: #001219;
  color: #e9d8a6;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  padding-top: 100px;
}

h1 {
  color: #ee9b00;
  font-size: 2rem;
  margin-bottom: 10px;
}

p {
  color: #94d2bd;
  font-size: 1.1rem;
}
